.services{

text-align: center ;

}


i{
    text-align: center ;
background-color: orange;
font-size: 35px;

}
.icons{
text-align: center;
float: left;
width: 33.3%;
}

.clearfix{

clear: both;

}

